a{
    background-color: orange;
    text-decoration: none;
}

a[target]{
    background-color: orangered;
    color: white;
}

a[target="_blank"]{
    background-color: black;
    color: pink;
}

a[target="_self"]{
color: rgb(240, 205, 140);
}